<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <configSections>
        <section name="aws" type="AWSSDK.Core, AWSSDK.DynamoDB2, AWSSDK.Kinesis"/>
    </configSections>
    <appSettings>
        <add key="AppName" value="TeleKinesisNet" />
        <add key="AWSProfileName" value="AWS Default" />
        <add key="AWSRegion" value="us-east-2"/>
        <add key="AWSLogging" value="log4net"/>
<!--        <add key="AWSAccessKey" value="XXXXXXXXXXXXXXXXXXXX"/>-->
<!--        <add key="AWSSecretKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>-->
        <add key="KinesisStreamName" value="valid"/>
<!--        <add key="KinesisStreamIsEnriched" value="false"/>-->
        <add key="KinesisStreamLimit" value="10"/>
        <add key="KinesisStreamInterval" value="1.0"/>
        <add key="KinesisStreamMax" value="0"/>
        <add key="EventHubsNamespace" value="ko-mds-web"/>
        <add key="EventHubsPath" value="valid"/>
        <add key="EventHubsKey" value="collector"/>
        <add key="EventHubsSecret" value="Ram8REzhsnms2XzFghKNR16/zK6KdQc6gZSSsyxiAcg="/>
    </appSettings>
</configuration>
