<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="AWSProfileName" value="AWS Default" />
        <add key="AWSAccessKey" value="XXXXXXXXXXXXXXXXXXXX"/>
        <add key="AWSSecretKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>
    </appSettings>
    <configSections>
    <section name="aws" type="AWSSDK.Core, AWSSDK.DynamoDB2, AWSSDK.Kinesis"/>
  </configSections>
  <aws region="us-east-2">
    <logging logTo="Log4Net"/>
  </aws>
</configuration>